numpy==1.24.2
openai==0.27.4
pandas==2.0.0
pdfminer.six
python-dotenv==1.0.0
tiktoken==0.3.3
wget==3.2
nltk
habanero
bs4
diskcache
matplotlib
scikit-learn
numpy
lxml
git+ssh://github.com/Phlya/adjustText.git@333c208ddd9c64fa423c4a2048f1d8bcc1aee063